@import url("geral.css");
@import url("main.css");
@import url("header.css");

@keyframes muda-cor {
    0% {
        box-shadow: 0 0 20px red;
    }

    25% {
        box-shadow: 0 0 20px yellow;
    }

    50% {
        box-shadow: 0 0 20px lime;
    }

    75% {
        box-shadow: 0 0 20px pink;
    }

    100% {
        box-shadow: 0 0 20px var(--cor-01);
    }
}


@keyframes muda-forma {
    0% {
        border-radius: 40% 60% 52% 48% / 47% 34% 66% 53%;
    }

    50% {
        border-radius: 25% 75% 70% 30% / 47% 67% 33% 53% ;
    }
    
    100% {
        border-radius: 25% 75% 29% 71% / 47% 17% 83% 53% ;
    }
}


@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}