@import url("geral.css");

header {
    padding: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    & h1 {
        font-family: var(--fonte-secundaria);
        font-variant: normal;
    }

    & #nome {
        border: none;
        font-size: 2rem;
        font-family: var(--fonte-secundaria);
        text-align: center;
        padding: .4rem;
        margin-top: 1rem;
        opacity: .8;
        transition: .5s;
        animation: alternate muda-cor 8.5s infinite;
        
        &:hover {
            /* background-color: var(--cor-01); */
            opacity: 1;
            transform: scale(1.1);
            border-radius: .3rem;
        }

        &:focus {
            outline: none;
        }
    }

    & #botao {
        border: none;
        font-size: 1.5rem;
        font-family: var(--fonte-secundaria);
        margin: 1rem;
        padding: .5rem 1rem;
        border-radius: .5rem;
        background-color: var(--cor-02);
        color: white;
        cursor: pointer;
        transition: .3s;

        &:hover {
            background-color: var(--cor-01);
            box-shadow: 0 0 20px var(--cor-01);
            transform: scale(1.1);
        }

    }

    & #bemvindo {
        font-size: 1.5rem;
        margin-top: 1rem;
        font-family: var(--fonte-secundaria);
        font-variant: normal;
    }
}

.animar {
    animation: efeito-escrita 1s ease-in-out;
}

@keyframes efeito-escrita {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes muda-cor {
    0% {
        box-shadow: 0 0 20px red;
    }

    25% {
        box-shadow: 0 0 20px yellow;
    }

    50% {
        box-shadow: 0 0 20px lime;
    }

    75% {
        box-shadow: 0 0 20px pink;
    }

    100% {
        box-shadow: 0 0 20px var(--cor-01);
    }
}