@import url("geral.css");
@import url("animacoes.css");

main {
    display: flex;
    flex-direction: column;

    & #container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        gap: 2rem;

        & #projetos {
            & .swiper-wrapper {
                & .swiper-slide p {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    background-color: var(--cor-04);
                    width: 20rem;
                    height: 10rem;
                    margin: auto;
                    padding: 1rem;
                    border-radius: .5rem;
                    transition: 250ms;
                    
                    &:hover {
                        background-color: var(--cor-03);
                        box-shadow: 0 0 20px var(--cor-01);
                        text-align: center;
                        transform: scale(1.02);
                        cursor: pointer;
                    }

                    & a {
                        text-decoration: none;
                        color: white;
                        font-weight: bold;
                        font-family: var(--fonte-secundaria);
                        transition: 250ms;

                        transition: 1s ease-in-out;
                        position: relative;
                        &::after {
                            position: absolute;
                            content: '';
                            width: 0%;
                            bottom: 0;
                            left: 0;
                            height: 3px;
                            background-color: white;
                            transition: 0.3s ease-in-out;

                        }

                        &:hover::after {
                            width: 100%;
                        }
                    }

                }
            }
        }

        & #sobre-mim {
            width: 50%;
            display: flex;
            flex-direction: row;
            gap: 2rem;
            text-align: justify;
            align-items: center;
            background-color: var(--cor-04);
            padding: 2rem;
            border-radius: 2rem;
            box-shadow: 0 0 20px #00000066;
            
            & #minha-foto {
                width: 15rem;
                animation: alternate muda-forma 5.5s infinite;
                transition: .5s;
                
                &:hover {
                    box-shadow: 0 0 10px #00000088;
                    transform: scale(1.1);
                }
            }
        }
    }

    & #tecnologias {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 2rem;
        padding: 1rem;
        & ul li i {
            text-shadow: 0 0 0px transparent;
            transition: 1s ease-in-out;
            filter: blur(.9px);
        }

        & .glow {
            text-shadow: 0 0 30px currentColor;
            filter: blur(0px)
        }
    }

    & #rodape {
        background-color: var(--cor-06);
        display: flex;
        align-items: center;
        justify-content: space-between;

        & p {
            text-align: center;
        }

        & #contato {
            font-size: 1.5em;
            gap: 0;
            & p {
                font-weight: bold;
                font-family: var(--fonte-secundaria);
            }
        }
    }

    & #redes-sociais, & #contato {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 2rem;
        padding: 2rem;

        & a {
            color: white;
            text-decoration: none;
        }

        & #redes {
            list-style: none;
            display: flex;
            box-shadow: 0 0 20px #00000088;
            justify-content: center;
            gap: 3rem;
            width: 20rem;
            margin: auto;
            border-radius: 2rem;
            
            & i {
                transition: .5s;
            }

            & i:hover {
                transform: scale(1.2);
            }
        }
    }

}

.swiper {
    width: 30rem;
    height: 20rem;
}

@media (max-width: 1000px) {
    main {
        & #container {
            flex-direction: column;
            align-items: center;
    
            & #projetos {
                text-align: center;
                font-size: 1.2rem;

                & ul {
                    flex-wrap: nowrap;
                    flex-direction: column;

                    & li {
                        width: 100%;
                    }
                }
            }

            & #sobre-mim {
                width: 100%;
                text-align: center;
                font-size: 1.2rem;
                flex-direction: column;

                & #minha-foto {
                    width: 10rem;
                }
            }

        }

        & #rodape {
            text-align: center;
            font-size: .7rem;
            flex-direction: column;
        }
    }
}